#background {
	height:700px;
	background: linear-gradient(to bottom, #393948, #eaeaec);
	text-align:center;
}

/*
.title{
	height:15%;
	width:75%;
	margin: 30px 0px 15px 45px;
}
*/


.icon {
	width: 60px;
	height: 60px;
}

p {
	font-size: 18px;
	text-shadow:1px 1px black;
	color: white;
	margin-bottom: 1em;
}

p.small {
	font-size: 12px;
	text-align: center;
	color: #000000;
	text-shadow: none;
	margin-top: 40px;
}

.homeButton {
	background: linear-gradient(to bottom, #a50b0b, #d31414);
	color: white;
	border-radius: 10px;
	width: 175px;
	font-size:26px;
	height:60px;
}

.mainButton {
	background: linear-gradient(to bottom, #a50b0b, #d31414);
	color: white;
	border-radius: 10px;
	width: 175px;
	font-size:23px;
	font-family: "Tahoma";
	height:60px;
	display:block;
	margin: 0 auto;
}

#stopColour{
	background: linear-gradient(to bottom, #e50b0b, #d31414);
}

tr {
	text-align: center;
}

td {
	text-align: center;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#about{
	margin-top:4em;
	width:100%;
	text-align:center;
}

.centredTable {
	top: 50px;
	margin: 0px auto;
}

#deviceList {
	width: 100%;
	margin: 0px auto;
}

#deviceList td {
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.selected {
	background-color: #727272;
}

.deselected {
	background-color: #595959;
}

#deviceListContainer {
	border: 1px solid black;
	height: 200px;
	width: 80%;
	margin-left: 10%;
	background-color: #595959;
}

.deviceTick {
	width: 25px;
	height: 25px;
}

h3 {
	font-family: "Myriad Pro";
	color: white;
	padding-top: 5px;
	font-size: 20px;
}

/* Individual image styling */

#doublestepImg{
	height:12%;
	width:75%;
	margin: 30px 0 30px 0;
}

#clockImg{
	height:25%;
	margin-bottom:2em;
}

#balanceCheckImg{
	height:6%;
	width:100%;
	padding: 2px 55px;
	margin: 30px 0 5px 0;
}

#yogaImg{
	height:325px;
	width:285px;
}

#alarmImg{
	height:7%;
	width:80%;
	margin: 30px 0 30px 0;
}

#time{
	text-align:center;
	margin: 0px auto;
	margin-bottom:20px;
	border-radius:5px;
	border: 1px solid black;
}

#timeLabel{
	color:white;
	font-size:24pt;
	text-shadow:1px 1px black;
	text-align: center;
	margin: 0;
	margin-top: 30px;
}

#timer{
	padding-top:15px;
	padding-left:5px;
	display:inline-block;
	color:white;
	font-size:28pt;
	text-shadow:2px 2px black;
	margin-bottom:60px;
}

.functionTable {
	top: 50px;
	margin: 0px auto;
}

.featureImage {
	display: block;
	margin: 30px auto;
	width: 150px;
}

#musicImage {
	margin-left: -20px;
}

.onOffButton {
	padding-top: 20px;
	margin: 0px auto;
}

.description {
	padding-top: 20px;
	text-align: center;
}

ion-content {
	background: linear-gradient(to bottom, #393948, #eaeaec);
}

#doublestep li img.icon,
#doublestep li button {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

#doublestep li img.icon {
	margin-right: 20px;
}

#doublestep li {
	text-align: center;
	margin: 20px 0;
}

#balance .scroll {
	height: 100%;
}

#line1,
#line2 {
	position:absolute;
	top: 35%;
	left: 10%;
	max-width: 440px;
	width: 80%;
}

#line2{
	top: 65%;
}

#balanceMarker{
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -15px;

	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	transition-duration: 50ms;
	-webkit-transition-duration: 50ms;
}

#balanceGame{
	height: 60%;
	position: relative;
}

p.clock {
	font-size: 48px;
	text-align: center;
	text-transform: lowercase;
}
