<ion-view view-title="Alarm Clock">
	<ion-content has-bouncing="true" padding="false">
		<div id="background">
			<img src="../img/alarm.png" id="clockImg"></img>
			<p>Select time:</p>
			<p>alarm time: {{alarm.time}}</p>
			<p>time to go: {{alarm.timeToGo}}</p>
			<button ng-click="startAlarm()" ng-hide="alarmRunning" class="mainButton">Start Alarm</button>
			<button ng-click="stopAlarm()" ng-show="alarmRunning" class="mainButton" id="stopColour">Stop Alarm</button>
		</div>
	</ion-content>
</ion-view>
