<ion-view view-title="Balance Check" id="balance">
	<ion-content has-bouncing="true" padding="true">
		<p id="timeLabel">{{balance.timeElapsed}}</p>

		<div id="balanceGame">
			<img src="img/balanceLine.png" id="line1"></img>
			<img src="img/balanceMarker.png" id="balanceMarker"></img>
			<img src="img/balanceLine.png" id="line2"></img>
		</div>

		<p class="description">Maintain your balance between the green lines.</p>
		<button ng-click="restart()" class="mainButton" ng-show="balance.canRestart">Restart</button>
	</ion-content>
</ion-view>
