<ion-view view-title="Bluetooth Setup">
        <ion-content has-bouncing="true" padding="false">
        <div id="background">
            <div class="description">
                <p> Select your Bluetooth device: </p>
            </div>
            <div id="deviceListContainer">
                <table id="deviceList">
                    <tr class="deselected">
                        <td> </td>
                        <td> <h3> Device1 </h3> </td>
                    </tr>
                    <tr class="selected">
                        <td> <img class="deviceTick" src="../img/tick.png" /> </td>
                        <td> <h3> Device2 </h3> </td>
                    </tr>
                </table>
            </div>
            <div class="onOffButton">
		    <button class="mainButton"> Confirm </button>
            </div>
        </div>
        </ion-content>
</ion-view>
