<ion-view view-title="Doublestep">
	<ion-content has-bouncing="true" padding="false">
		<div id="background">
			<table class="centredTable">
				<tr>
					<td>
						<img src="../img/Spanner.png" class="icon"></img>
					</td>
					<td>
						<button onclick="window.location='#functions'" class="mainButton">Functions</button>
					</td>
				</tr>
				<tr>
					<td>
						<img src="../img/9.png" class="icon"></img>
					</td>
					<td>
						<button onclick="window.location='#settings'" class="mainButton">Settings</button>
					</td>
				</tr>
				<tr>
					<td>
						<img src="../img/bluetooth.png" class="icon"></img>
					</td>
					<td>
						<button onclick="window.location='#bluetooth'" class="mainButton">Bluetooth</button>
					</td>
				</tr>
			</table>
			<div id="about">Developed by Alex, Tim, Kelly, Leo, Nick and Blake</div>
		</div>
	</ion-content>
</ion-view>
