<ion-view view-title="Doublestep Demo" id="doublestep">
	<ion-content has-bouncing="true" padding="true">
		<ul>
			<li>
				<img src="img/yoga.png" class="icon" />
				<button onclick="window.location='#balanceWarmup'" class="mainButton">Balance Check</button>
			</li>
			<li>
				<img src="img/alarm.png" class="icon" />
				<button onclick="window.location='#alarm'" class="mainButton">Alarm Clock</button>
			</li>
			<li>
				<img src="img/phone.png" class="icon" />
				<button onclick="window.location='#calls'" class="mainButton">Disable Calls</button>
			</li>
			<li>
				<img src="img/music.png" class="icon" />
				<button onclick="window.location='#mediaPlayer'" class="mainButton">Media Player</button>
			</li>
			<li>
				<img src="img/bluetooth.png" class="icon" />
				<button onclick="window.location='#bluetooth'" class="mainButton">Bluetooth</button>
			</li>
		</ul>

		<p class="small">The Doubelstep SDK and Demo app were developed by
			Kelly Baxendale,
			Alex Barnett,
			Blake Ebert,
			Nicholas Mayer,
			Leo Mylonas, and
			Timothy Sparks of the University of Queensland.
		</p>
	</ion-content>
</ion-view>
