<ion-view view-title="Doublestep">
        <ion-content has-bouncing="true" padding="false">
        <div id="background">
            <table class="functionTable" >
                    <tr>
                        <td>
                            <img class="icon" src="../img/yoga.png" />
                        </td>
                        <td>
                            <button class="mainButton" onclick="window.location='#balanceWarmup'">Balance Check </button> </br>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="icon" src="../img/alarm.png" />
                        </td>
                        <td>
                            <button class="mainButton"  onclick="window.location='#alarm'">Pressure Alarm </button> </br>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="icon" src="../img/phone-icon.png" />
                        </td>
                        <td>
                            <button class="mainButton" onclick="window.location='#calls'">Disable Calls </button> </br>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <img class="icon" src="../img/music-50.png" />
                        </td>
                        <td>
                            <button class="mainButton" onclick="window.location='#mediaPlayer'">Music Helper </button> </br>
                        </td>
                    </tr>
                </table>
            </div>
        </ion-content>
</ion-view>
