<ion-view view-title="Functions">
        <ion-content has-bouncing="true" padding="false">
        <div id="background"> 
            <table class="centredTable" > 
                    <tr>
                        <td>     
                            <img class="icon" src="../img/yoga.png" />
                        </td>
                        <td>
                            <button class="mainButton" onclick="window.location='#ble'">Balance Check </button> </br>
                        </td>    
                    </tr>
                                       
                    <tr>
                        <td>     
                            <img class="icon" src="../img/alarm.png" />
                        </td>
                        <td>
                            <button class="mainButton"  onclick="window.location='#ble'">Pressure Alarm </button> </br>
                        </td>    
                    </tr>

                    <tr>
                        <td>     
                            <img class="icon" src="../img/phone-icon.png" />
                        </td>
                        <td>
                            <button class="mainButton" onclick="window.location='#ble'">Disable Calls </button> </br>
                        </td>    
                    </tr>


                    <tr>
                        <td>     
                            <img class="icon" src="../img/music-50.png" />
                        </td>
                        <td>
                            <button class="mainButton" onclick="window.location='#ble'">Music Helper </button> </br>
                        </td>    
                    </tr>
                </table>
            </div>
        </ion-content>
</ion-view>
